<div class='select-game'>
  <%= link_to "Pitch", pitch_path, class: 'btn btn-primary btn-lg',
    method: :get %>
</div>
<div class='select-game'>
  <%= link_to "45s", fortyfives_path, class: 'btn btn-primary btn-lg',
    method: :get %>
</div>
