@import "bootstrap-sprockets";
@import "bootstrap";
@import "./**/*";

#reset {
  position: absolute;
  bottom: 15px;
}

.team-header {
  border: 1px solid black;
}

.total {
  border-top: 1px solid black;
}

.selected {
  background: gray;
}

.points-button {
  width: 50px;
}

#edit-buttons {
  width: 50%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  button {
    width: 50%;
  }
}

.win-button {
  positions: absolute;
  right: 0px;
}
