@import "bootstrap-sprockets";
@import "bootstrap";
@import "./**/*";

.container {
  font-family: 'Roboto', sans-serif;
}

.select-game {
  a {
    margin-top: 33%;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

#reset-game {
  position: absolute;
  bottom: 15px;
}

#reset-wins {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.team-header {
  border: 1px solid black;
}

.total {
  border-top: 1px solid black;
  font-size: 20px;
}

.add-sub-buttons {
  button {
    width: 50%
  }
}

.selected {
  background: #E6E6E6;
}

.no-pad {
  div {
    padding: 0;
  }
}

.points-button {
  width: 100%;
}

#edit-buttons {
  width: 100%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  button {
    width: 50%;
  }
  // hack for iOS
  .disabled {
    opacity: inherit;
    visibility: visible;
  }
}

.win-button {
  float: right;
}
